* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    width: 100%;
    padding: 25px 50px;
    background-color: rgb(152, 169, 134);
}

.pic {
    border-radius: 50%;
}

.display-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    padding: 4% 8%;
    justify-content: space-evenly;
}

.customer-pane {
    text-align: center;
    width: 25%;
    margin: 10px;
    padding: 10px;
    /*background-color: rgb(170, 167, 159);*/
    background-image: radial-gradient(ellipse closest-side, rgb(170, 169, 168), rgb(235, 231, 231));
}

.address {
    padding: 7px;
}

.email {
    padding: 5px;
}

.dates {
    padding: 5px;
}